.pc_div img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.pc_edit_img {
    width: 20px;
    height: 20px;
}

.pc_footer_msg {
    margin-left: 0.5rem;
    font-size: 17.5px;
}

.pc_edit_bttn_container {
    max-width: 15.5em;
    min-height: 2em;
    margin-left: auto;
    margin-right: 0px;
}