.css_strt_bttn .dx-button-content {
    background-color: #dfdfdf;
}

.css_strt_bttn .dx-button-text {
    font-size: 21px;
    font-weight: bold;
}

.css_history_div {
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}