.pstf_strt_bttn .dx-button-content {
    background-color: #dfdfdf;
}

.pstf_strt_bttn .dx-button-text {
    font-size: 21px;
    font-weight: bold;
}

.pstf_fridge_map .dx-list-item {
    border-top: hidden;
    border-bottom: hidden;
}

.pstf_ppp_container_map .dx-list-item {
    border-top: hidden;
    border-bottom: hidden;
}

.pstf_fridge_map .dx-list-group-header {
    border-top: hidden;
}

.pstf_ppp_container_map .dx-list-group-header {
    border-top: hidden;
}

.pstf_container_div {
    margin-left: auto;
    margin-right: auto;
}

.pstf_container_id_div {
    height: 50px;
    width: 50px;
    margin: auto;
    border: 0.5px solid black;
    display: table;
}

.pstf_container_id_div_green {
    background-color: lightgreen;
}

.pstf_container_id_div_red {
    background-color: tomato;
}

.pstf_container_id_div_gray {
    background-color: lightgray;
}

.pstf_container_id {
    display: table-cell;
    vertical-align: middle;
}

.pstf_footer .dx-button-content {
    background-color: #dfdfdf;
}

.pstf_footer .dx-button-text {
    font-size: 21px;
    font-weight: bold;
} 

.pstf_ppp_container_map .pstf_footer .dx-button-text {
    font-size: 21px;
}