<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache 	cacheControlCustom="public"
					cacheControlMode="UseMaxAge" 
					cacheControlMaxAge="60.00:00:00" />
    </staticContent>
    <urlCompression doDynamicCompression="true" />
    <httpProtocol>
      <customHeaders>
        <remove name="pragma" />
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
