.sign_in_form .form-group {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sign_in_div img {
    width: 300px;
    height: 240px;
}

.sign_in_div .dx-button-content {
    background-color: #dfdfdf;
}

.sign_in_div .dx-button-text {
    font-size: 21px;
    font-weight: bold;
}

.sign_in_div .sign_in_form img {
    width: 36px;
    height: 36px;
}

.sing_in_footer_msg {
    margin-left: 0.5rem;
}