.gd_strt_bttn .dx-button-content {
    background-color: #dfdfdf;
}

.gd_strt_bttn .dx-button-text {
    font-size: 21px;
    font-weight: bold;
}

.dfw_footer .dx-button-content {
    background-color: #dfdfdf;
}

.dfw_footer .dx-button-text {
    font-size: 21px;
    font-weight: bold;
}